[Unit]
Description=Renew Service System HTTPS certificate
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/service-system-renew-tls
